In [55]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import requests as rq
import random as rnd
import gmaps
import os
import json
import time

# Import API key
import config

# Configure gmaps
gkey = config.gkey
gmaps.configure(api_key=gkey)

In [42]:
parent_path = os.getcwd()
os.chdir(parent_path)
working_dir = os.getcwd()

In [43]:
dataset_filelist = ["1_county_level_confirmed_cases.csv","2_cases_and_deaths_by_county_timeseries.csv","weekly-claims-by-county-twc.csv"]
for csv in dataset_filelist:   
    for root, dirs, files in os.walk(working_dir):
        if csv in files:
            if csv == dataset_filelist[0]:
                covid_dataset1 = (os.path.join(root, csv))
            elif csv == dataset_filelist[1]:
               covid_dataset2 =  (os.path.join(root, csv))
            else:
               unemployemet_dataset =  (os.path.join(root, csv))

In [44]:
ConfirmedByCounty_Covid = pd.read_csv(covid_dataset1)
CaseDeathsBy_County_timeseries = pd.read_csv(covid_dataset2)
unemployemet_dataset = pd.read_csv(unemployemet_dataset)

In [48]:
Texas_ConfirmedByCounty_Covid = ConfirmedByCounty_Covid.loc[ConfirmedByCounty_Covid['state'] == 'Texas']
Texas_ConfirmedByCounty_Covid.head()

,last_update,location_type,state,county_name,county_name_long,fips_code,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
2599,2020-11-13 00:26:19 UTC,county,Texas,Anderson,"Anderson, Texas, US",48001.0,31.815347,-95.653548,Micropolitan,57863.0,3035,5245.15,42,72.59
2600,2020-11-13 00:26:19 UTC,county,Texas,Andrews,"Andrews, Texas, US",48003.0,32.304686,-102.637655,Micropolitan,17818.0,781,4383.21,11,61.74
2601,2020-11-13 00:26:19 UTC,county,Texas,Angelina,"Angelina, Texas, US",48005.0,31.254573,-94.609015,Micropolitan,87607.0,2380,2716.68,93,106.16
2602,2020-11-13 00:26:19 UTC,county,Texas,Aransas,"Aransas, Texas, US",48007.0,28.105562,-96.999505,Medium metro,24763.0,369,1490.13,18,72.69
2603,2020-11-13 00:26:19 UTC,county,Texas,Archer,"Archer, Texas, US",48009.0,33.615700,-98.687546,Small metro,8789.0,187,2127.66,1,11.38

In [72]:
Texas_ConfirmedByCounty_Covid = Texas_ConfirmedByCounty_Covid.dropna(subset=['lat','lon'])
Texas_ConfirmedByCounty_Covid.head()

,last_update,location_type,state,county_name,county_name_long,fips_code,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
2599,2020-11-13 00:26:19 UTC,county,Texas,Anderson,"Anderson, Texas, US",48001.0,31.815347,-95.653548,Micropolitan,57863.0,3035,5245.15,42,72.59
2600,2020-11-13 00:26:19 UTC,county,Texas,Andrews,"Andrews, Texas, US",48003.0,32.304686,-102.637655,Micropolitan,17818.0,781,4383.21,11,61.74
2601,2020-11-13 00:26:19 UTC,county,Texas,Angelina,"Angelina, Texas, US",48005.0,31.254573,-94.609015,Micropolitan,87607.0,2380,2716.68,93,106.16
2602,2020-11-13 00:26:19 UTC,county,Texas,Aransas,"Aransas, Texas, US",48007.0,28.105562,-96.999505,Medium metro,24763.0,369,1490.13,18,72.69
2603,2020-11-13 00:26:19 UTC,county,Texas,Archer,"Archer, Texas, US",48009.0,33.615700,-98.687546,Small metro,8789.0,187,2127.66,1,11.38

In [50]:
Texas_CaseDeathsBy_County_timeseries = CaseDeathsBy_County_timeseries.loc[CaseDeathsBy_County_timeseries['state'] == 'Texas']
Texas_CaseDeathsBy_County_timeseries.head()

,uid,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000,new_cases,new_deaths,new_cases_per_100_000,new_deaths_per_100_000,new_cases_7_day_rolling_avg,new_deaths_7_day_rolling_avg
767885,84048001,county,48001.0,Anderson,Texas,2020-01-22,57863.0,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
767886,84048001,county,48001.0,Anderson,Texas,2020-01-23,57863.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
767887,84048001,county,48001.0,Anderson,Texas,2020-01-24,57863.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
767888,84048001,county,48001.0,Anderson,Texas,2020-01-25,57863.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN
767889,84048001,county,48001.0,Anderson,Texas,2020-01-26,57863.0,0,0.0,0,0.0,0.0,0.0,0.0,0.0,NaN,NaN

In [54]:
columns_todrop = []
for column in Texas_CaseDeathsBy_County_timeseries.columns:
    if column.startswith('new'):
        columns_todrop.append(column)
for drop in columns_todrop:
    Texas_CaseDeathsBy_County_timeseries = Texas_CaseDeathsBy_County_timeseries.drop(columns=drop)
Texas_CaseDeathsBy_County_timeseries.head()

,uid,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000
767885,84048001,county,48001.0,Anderson,Texas,2020-01-22,57863.0,0,0.0,0,0.0
767886,84048001,county,48001.0,Anderson,Texas,2020-01-23,57863.0,0,0.0,0,0.0
767887,84048001,county,48001.0,Anderson,Texas,2020-01-24,57863.0,0,0.0,0,0.0
767888,84048001,county,48001.0,Anderson,Texas,2020-01-25,57863.0,0,0.0,0,0.0
767889,84048001,county,48001.0,Anderson,Texas,2020-01-26,57863.0,0,0.0,0,0.0

In [61]:
test_copy_unemployment = unemployemet_dataset.copy()
test_copy_unemployment = test_copy_unemployment.transpose()
test_copy_unemployment

,0,1,2,3,4,5,6,7,8,9,...,250,251,252,253,254,255,256,257,258,259
County,Anderson,Andrews,Angelina,Aransas,Archer,Armstrong,Atascosa,Austin,Bailey,Bandera,...,Yoakum,Young,Zapata,Zavala,Grand Total,NaN,NaN,NaN,Source: LMCI Local Area Unemployment Statisti...,Please note numbers are subject to revisions.
10/31/2020,42,17,77,32,3,1,46,28,3,23,...,14,16,20,11,32973,NaN,NaN,NaN,NaN,NaN
10/24/2020,79,17,89,22,6,NaN,36,23,1,13,...,8,17,27,18,31121,NaN,NaN,NaN,NaN,NaN
10/17/2020,54,17,80,40,5,1,35,26,4,24,...,6,17,27,12,31695,NaN,NaN,NaN,NaN,NaN
10/10/2020,63,30,98,18,10,2,40,32,3,11,...,6,19,22,16,37187,NaN,NaN,NaN,NaN,NaN
10/3/2020,64,25,103,26,6,1,55,37,5,18,...,9,11,19,16,38023,NaN,NaN,NaN,NaN,NaN
9/26/2020,64,21,100,35,5,1,56,30,4,22,...,7,18,29,11,34473,NaN,NaN,NaN,NaN,NaN
9/19/2020,61,18,119,25,4,NaN,70,29,3,25,...,5,7,23,21,35601,NaN,NaN,NaN,NaN,NaN
9/12/2020,66,32,107,31,5,NaN,67,42,8,4,...,12,13,23,20,39075,NaN,NaN,NaN,NaN,NaN
9/5/2020,85,22,171,50,6,3,96,45,9,41,...,10,22,34,18,56713,NaN,NaN,NaN,NaN,NaN
8/29/2020,91,19,170,47,4,NaN,76,41,3,20,...,11,12,37,21,49739,NaN,NaN,NaN,NaN,NaN
8/22/2020,96,34,157,45,8,5,96,40,3,18,...,10,15,34,43,44540,NaN,NaN,NaN,NaN,NaN
8/15/2020,84,29,188,65,12,2,97,39,6,25,...,13,19,40,17,54309,NaN,NaN,NaN,NaN,NaN
8/8/2020,92,33,147,38,5,3,66,31,2,29,...,3,18,24,18,44706,NaN,NaN,NaN,NaN,NaN
8/1/2020,99,36,131,48,10,1,89,47,5,29,...,8,24,26,16,52844,NaN,NaN,NaN,NaN,NaN
7/25/2020,104,45,204,59,11,3,113,67,8,28,...,13,20,32,32,62131,NaN,NaN,NaN,NaN,NaN
7/18/2020,85,48,235,63,18,2,143,65,4,28,...,19,18,31,34,74072,NaN,NaN,NaN,NaN,NaN
7/11/2020,147,67,258,85,13,3,147,61,8,44,...,10,29,30,45,88935,NaN,NaN,NaN,NaN,NaN
7/4/2020,131,75,218,92,23,1,149,89,10,47,...,13,36,39,43,98699,NaN,NaN,NaN,NaN,NaN
6/27/2020,103,43,187,70,13,NaN,129,51,6,39,...,16,35,61,23,77916,NaN,NaN,NaN,NaN,NaN
6/20/2020,100,68,219,58,7,3,127,56,6,34,...,14,32,68,35,79473,NaN,NaN,NaN,NaN,NaN
6/13/2020,108,50,201,63,11,2,147,57,3,34,...,16,23,48,25,74728,NaN,NaN,NaN,NaN,NaN
6/6/2020,115,52,252,76,17,1,133,49,5,27,...,22,24,63,41,87048,NaN,NaN,NaN,NaN,NaN
5/30/2020,134,61,250,59,12,2,119,64,5,37,...,18,30,59,48,93809,NaN,NaN,NaN,NaN,NaN
5/23/2020,192,71,272,74,24,2,172,85,6,54,...,31,29,56,60,103452,NaN,NaN,NaN,NaN,NaN
5/16/2020,123,94,304,80,23,4,194,82,6,46,...,63,46,42,45,109812,NaN,NaN,NaN,NaN,NaN
5/9/2020,153,96,273,92,20,2,190,72,5,53,...,46,39,73,79,126391,NaN,NaN,NaN,NaN,NaN
5/2/2020,181,117,463,154,32,5,291,107,8,71,...,63,52,89,62,157852,NaN,NaN,NaN,NaN,NaN
4/25/2020,176,133,388,109,24,NaN,265,114,10,82,...,57,43,57,57,148813,NaN,NaN,NaN,NaN,NaN
4/18/2020,183,143,449,160,41,5,302,120,13,80,...,84,60,59,41,199979,NaN,NaN,NaN,NaN,NaN
4/11/2020,205,165,495,155,34,15,346,122,10,81,...,75,91,55,30,216661,NaN,NaN,NaN,NaN,NaN
4/4/2020,252,143,689,230,58,6,409,170,13,152,...,101,95,71,41,277714,NaN,NaN,NaN,NaN,NaN
3/28/2020,180,95,452,217,42,6,325,109,11,117,...,53,84,45,47,258607,NaN,NaN,NaN,NaN,NaN
3/21/2020,101,50,227,70,20,1,177,100,3,51,...,27,31,29,27,155862,NaN,NaN,NaN,NaN,NaN
3/14/2020,18,16,37,10,1,NaN,31,28,4,4,...,11,9,7,7,17778,NaN,NaN,NaN,NaN,NaN
3/7/2020,20,1,37,9,2,2,20,17,3,5,...,2,2,7,7,15716,NaN,NaN,NaN,NaN,NaN
Unnamed: 36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [80]:
locations = Texas_ConfirmedByCounty_Covid[['lat','lon']]
confirmed = Texas_ConfirmedByCounty_Covid['confirmed']

In [91]:
zero_coor = (31.81,-95.65)
figure_layout = {'width': '1050px', 'margin': '0 auto 0 auto'}
# Plot Heatmap
fig = gmaps.figure(center=zero_coor,zoom_level=5.5,layout=figure_layout,map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=confirmed,
                                 dissipating=False, max_intensity=2,
                                 point_radius=.1)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='1050px'))