## Create Dependencies

In [192]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import requests as rq
import random as rnd
import gmaps
import os
import json
import time

# Import API key
import config

# Configure gmaps
gkey = config.gkey
gmaps.configure(api_key=gkey)

## Create and set the path

In [193]:
notebook_path = os.getcwd()
parent_dir = notebook_path[0:-4]

## Store csv filenames. Iterate through the filename list and get csv from path and store in variables

In [194]:
dataset_filelist = ["1_county_level_confirmed_cases.csv","2_cases_and_deaths_by_county_timeseries.csv","weekly-claims-by-county-twc.csv","texas_county_med_income.csv"]
for csv in dataset_filelist:   
    for root, dirs, files in os.walk(parent_dir):
        if csv in files:
            if csv == dataset_filelist[0]:
                covid_dataset1 = (os.path.join(root, csv))
            elif csv == dataset_filelist[1]:
               covid_dataset2 =  (os.path.join(root, csv))
            elif csv == dataset_filelist[2]:
               unemployment_dataset =  (os.path.join(root, csv))
            else:
                texas_median_income = (os.path.join(root, csv))

## Use pandas and read contents of csv into a DataFrame

In [195]:
ConfirmedByCounty_Covid = pd.read_csv(covid_dataset1)
CaseDeathsBy_County_timeseries = pd.read_csv(covid_dataset2, parse_dates=['date'])
unemployment_dataset = pd.read_csv(unemployment_dataset)
texas_median_income = pd.read_csv(texas_median_income)

## Remove ("$",",") characters from the Texas Median Income dataset and convert to float

In [196]:
texas_median_income['Median Household Income'] = texas_median_income['Median Household Income'].str.replace('$','').str.replace(',','').astype(float)

In [197]:
texas_median_income.head()

     County  Median Household Income
0  Anderson                  45969.0
1   Andrews                  84946.0
2  Angelina                  46653.0
3   Aransas                  46912.0
4    Archer                  61190.0

In [198]:
texas_low_income = texas_median_income.loc[(texas_median_income['Median Household Income'] > 57000)]
texas_low_income.describe()

       Median Household Income
count                56.000000
mean              69560.303571
std               11444.745846
min               57052.000000
25%               60789.500000
50%               66080.000000
75%               76322.000000
max              102858.000000

## Incomes that qualify as low imcome per HUD data. Less than or equal to 57K but greater than 36K

In [199]:
texas_low_income = texas_median_income.loc[(texas_median_income['Median Household Income'] <= 57000) & (texas_median_income['Median Household Income'] > 36000)]
texas_low_income.head()

     County  Median Household Income
0  Anderson                  45969.0
2  Angelina                  46653.0
3   Aransas                  46912.0
6  Atascosa                  50594.0
8    Bailey                  45051.0

## Incomes that qualify as very low imcome per HUD data. Less than or equal to 36K but greater than 26K

In [200]:
texas_verylow_income = texas_median_income.loc[(texas_median_income['Median Household Income'] <= 36000) & (texas_median_income['Median Household Income'] > 26000)]
texas_verylow_income.head()

       County  Median Household Income
23     Brooks                  30116.0
65      Duval                  35156.0
95       Hall                  32597.0
161  Maverick                  35594.0
163    Menard                  35881.0

## Covid-19 Dataset that gives most recent case and death numbers as of 2020-11-13
* Cleansed Data to get rid of one row in Latitude and Longitude that had NaN

In [201]:
Texas_ConfirmedByCounty_Covid = ConfirmedByCounty_Covid.loc[ConfirmedByCounty_Covid['state'] == 'Texas'].dropna(subset=['lat','lon'])
Texas_ConfirmedByCounty_Covid.head()

,last_update,location_type,state,county_name,county_name_long,fips_code,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
2599,2020-11-13 00:26:19 UTC,county,Texas,Anderson,"Anderson, Texas, US",48001.0,31.815347,-95.653548,Micropolitan,57863.0,3035,5245.15,42,72.59
2600,2020-11-13 00:26:19 UTC,county,Texas,Andrews,"Andrews, Texas, US",48003.0,32.304686,-102.637655,Micropolitan,17818.0,781,4383.21,11,61.74
2601,2020-11-13 00:26:19 UTC,county,Texas,Angelina,"Angelina, Texas, US",48005.0,31.254573,-94.609015,Micropolitan,87607.0,2380,2716.68,93,106.16
2602,2020-11-13 00:26:19 UTC,county,Texas,Aransas,"Aransas, Texas, US",48007.0,28.105562,-96.999505,Medium metro,24763.0,369,1490.13,18,72.69
2603,2020-11-13 00:26:19 UTC,county,Texas,Archer,"Archer, Texas, US",48009.0,33.615700,-98.687546,Small metro,8789.0,187,2127.66,1,11.38

In [202]:
Texas_ConfirmedByCounty_Covid = Texas_ConfirmedByCounty_Covid.drop(columns=["location_type","state","county_name_long","fips_code"])

In [203]:
Texas_ConfirmedByCounty_Covid.head()

,last_update,county_name,lat,lon,NCHS_urbanization,total_population,confirmed,confirmed_per_100000,deaths,deaths_per_100000
2599,2020-11-13 00:26:19 UTC,Anderson,31.815347,-95.653548,Micropolitan,57863.0,3035,5245.15,42,72.59
2600,2020-11-13 00:26:19 UTC,Andrews,32.304686,-102.637655,Micropolitan,17818.0,781,4383.21,11,61.74
2601,2020-11-13 00:26:19 UTC,Angelina,31.254573,-94.609015,Micropolitan,87607.0,2380,2716.68,93,106.16
2602,2020-11-13 00:26:19 UTC,Aransas,28.105562,-96.999505,Medium metro,24763.0,369,1490.13,18,72.69
2603,2020-11-13 00:26:19 UTC,Archer,33.615700,-98.687546,Small metro,8789.0,187,2127.66,1,11.38

## Select only data related to the state of Texas and drop all column with headers statring with "new"

In [204]:
columns_todrop = []
Texas_CaseDeathsBy_County_timeseries = CaseDeathsBy_County_timeseries.loc[(CaseDeathsBy_County_timeseries['state'] == 'Texas') & (CaseDeathsBy_County_timeseries['location_name'] != 'Unassigned') & (CaseDeathsBy_County_timeseries['location_name'] != 'Out of TX')]
Texas_CaseDeathsBy_County_timeseries = Texas_CaseDeathsBy_County_timeseries.loc[Texas_CaseDeathsBy_County_timeseries['date'] >= '2020-03-01']
for column in Texas_CaseDeathsBy_County_timeseries.columns:
    if column.startswith('new'):
        columns_todrop.append(column)
for drop in columns_todrop:
    Texas_CaseDeathsBy_County_timeseries = Texas_CaseDeathsBy_County_timeseries.drop(columns=drop)
Texas_CaseDeathsBy_County_timeseries.head()

,uid,location_type,fips_code,location_name,state,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000
767924,84048001,county,48001.0,Anderson,Texas,2020-03-01,57863.0,0,0.0,0,0.0
767925,84048001,county,48001.0,Anderson,Texas,2020-03-02,57863.0,0,0.0,0,0.0
767926,84048001,county,48001.0,Anderson,Texas,2020-03-03,57863.0,0,0.0,0,0.0
767927,84048001,county,48001.0,Anderson,Texas,2020-03-04,57863.0,0,0.0,0,0.0
767928,84048001,county,48001.0,Anderson,Texas,2020-03-05,57863.0,0,0.0,0,0.0

## Drop all other unused columns

In [205]:
Texas_CaseDeathsBy_County_timeseries = Texas_CaseDeathsBy_County_timeseries.drop(columns=["uid","location_type","state"])
Texas_CaseDeathsBy_County_timeseries.set_index('date')

,fips_code,location_name,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000
date,,,,,,,
2020-03-01,48001.0,Anderson,57863.0,0,0.00,0,0.00
2020-03-02,48001.0,Anderson,57863.0,0,0.00,0,0.00
2020-03-03,48001.0,Anderson,57863.0,0,0.00,0,0.00
2020-03-04,48001.0,Anderson,57863.0,0,0.00,0,0.00
2020-03-05,48001.0,Anderson,57863.0,0,0.00,0,0.00
...,...,...,...,...,...,...,...
2020-11-07,48507.0,Zavala,12131.0,483,3981.53,19,156.62
2020-11-08,48507.0,Zavala,12131.0,483,3981.53,19,156.62
2020-11-09,48507.0,Zavala,12131.0,492,4055.73,19,156.62
2020-11-10,48507.0,Zavala,12131.0,498,4105.19,19,156.62
2020-11-11,48507.0,Zavala,12131.0,498,4105.19,20,164.87

In [206]:
Texas_CaseDeathsBy_County_timeseries

,fips_code,location_name,date,total_population,cumulative_cases,cumulative_cases_per_100_000,cumulative_deaths,cumulative_deaths_per_100_000
767924,48001.0,Anderson,2020-03-01,57863.0,0,0.00,0,0.00
767925,48001.0,Anderson,2020-03-02,57863.0,0,0.00,0,0.00
767926,48001.0,Anderson,2020-03-03,57863.0,0,0.00,0,0.00
767927,48001.0,Anderson,2020-03-04,57863.0,0,0.00,0,0.00
767928,48001.0,Anderson,2020-03-05,57863.0,0,0.00,0,0.00
...,...,...,...,...,...,...,...,...
842810,48507.0,Zavala,2020-11-07,12131.0,483,3981.53,19,156.62
842811,48507.0,Zavala,2020-11-08,12131.0,483,3981.53,19,156.62
842812,48507.0,Zavala,2020-11-09,12131.0,492,4055.73,19,156.62
842813,48507.0,Zavala,2020-11-10,12131.0,498,4105.19,19,156.62
842814,48507.0,Zavala,2020-11-11,12131.0,498,4105.19,20,164.87

In [207]:
unemployment_claims = unemployemet_dataset.copy()
unemployment_claims = unemployment_claims.transpose()
unemployment_claims = unemployment_claims.fillna(0)

In [208]:
unemployment_claims.columns = [''] * len(unemployment_claims.columns)
unemployment_header = unemployment_claims.iloc[0]
unemployment_claims = unemployment_claims[1:]
unemployment_claims.columns = unemployment_header
unemployment_claims.index.names = ['Date']
unemployment_claims.columns.names = ['']

In [209]:
unemployment_claims

,Anderson,Andrews,Angelina,Aransas,Archer,Armstrong,Atascosa,Austin,Bailey,Bandera,...,Willacy,Williamson,Wilson,Winkler,Wise,Wood,Yoakum,Young,Zapata,Zavala
Date,,,,,,,,,,,,,,,,,,,,,
10/31/2020,42,17,77,32,3,1,46,28,3,23,...,24,422,28,7,74,31,14,16,20,11
10/24/2020,79,17,89,22,6,0,36,23,1,13,...,51,409,34,8,65,33,8,17,27,18
10/17/2020,54,17,80,40,5,1,35,26,4,24,...,43,434,30,15,45,26,6,17,27,12
10/10/2020,63,30,98,18,10,2,40,32,3,11,...,24,484,41,11,57,38,6,19,22,16
10/3/2020,64,25,103,26,6,1,55,37,5,18,...,15,574,41,12,79,45,9,11,19,16
9/26/2020,64,21,100,35,5,1,56,30,4,22,...,26,564,39,18,59,46,7,18,29,11
9/19/2020,61,18,119,25,4,0,70,29,3,25,...,23,526,42,13,59,29,5,7,23,21
9/12/2020,66,32,107,31,5,0,67,42,8,4,...,19,524,41,8,51,56,12,13,23,20
9/5/2020,85,22,171,50,6,3,96,45,9,41,...,29,800,54,19,86,83,10,22,34,18
8/29/2020,91,19,170,47,4,0,76,41,3,20,...,29,654,45,12,77,53,11,12,37,21
8/22/2020,96,34,157,45,8,5,96,40,3,18,...,28,630,46,22,82,37,10,15,34,43
8/15/2020,84,29,188,65,12,2,97,39,6,25,...,40,678,60,19,84,48,13,19,40,17
8/8/2020,92,33,147,38,5,3,66,31,2,29,...,49,641,53,14,66,68,3,18,24,18
8/1/2020,99,36,131,48,10,1,89,47,5,29,...,47,678,55,14,80,51,8,24,26,16
7/25/2020,104,45,204,59,11,3,113,67,8,28,...,43,838,86,26,104,69,13,20,32,32
7/18/2020,85,48,235,63,18,2,143,65,4,28,...,38,1024,92,25,118,87,19,18,31,34
7/11/2020,147,67,258,85,13,3,147,61,8,44,...,67,1202,109,35,152,78,10,29,30,45
7/4/2020,131,75,218,92,23,1,149,89,10,47,...,60,1390,109,40,157,90,13,36,39,43
6/27/2020,103,43,187,70,13,0,129,51,6,39,...,55,1149,63,32,142,74,16,35,61,23
6/20/2020,100,68,219,58,7,3,127,56,6,34,...,42,1052,105,38,130,74,14,32,68,35
6/13/2020,108,50,201,63,11,2,147,57,3,34,...,56,985,77,44,147,57,16,23,48,25
6/6/2020,115,52,252,76,17,1,133,49,5,27,...,50,1130,100,33,177,89,22,24,63,41
5/30/2020,134,61,250,59,12,2,119,64,5,37,...,72,1260,115,31,178,89,18,30,59,48
5/23/2020,192,71,272,74,24,2,172,85,6,54,...,81,1537,132,51,196,91,31,29,56,60
5/16/2020,123,94,304,80,23,4,194,82,6,46,...,75,1563,139,35,165,123,63,46,42,45
5/9/2020,153,96,273,92,20,2,190,72,5,53,...,71,2016,184,37,247,135,46,39,73,79
5/2/2020,181,117,463,154,32,5,291,107,8,71,...,76,2518,219,78,321,142,63,52,89,62
4/25/2020,176,133,388,109,24,0,265,114,10,82,...,71,2735,193,56,236,130,57,43,57,57
4/18/2020,183,143,449,160,41,5,302,120,13,80,...,101,3738,211,48,344,160,84,60,59,41
4/11/2020,205,165,495,155,34,15,346,122,10,81,...,119,4848,236,50,368,219,75,91,55,30
4/4/2020,252,143,689,230,58,6,409,170,13,152,...,109,5720,280,41,457,287,101,95,71,41
3/28/2020,180,95,452,217,42,6,325,109,11,117,...,82,5725,242,41,457,201,53,84,45,47
3/21/2020,101,50,227,70,20,1,177,100,3,51,...,35,3810,142,15,244,73,27,31,29,27
3/14/2020,18,16,37,10,1,0,31,28,4,4,...,10,253,22,8,25,15,11,9,7,7
3/7/2020,20,1,37,9,2,2,20,17,3,5,...,21,203,13,7,123,14,2,2,7,7

In [210]:
locations = Texas_ConfirmedByCounty_Covid[['lat','lon']]
confirmed = Texas_ConfirmedByCounty_Covid['confirmed']

In [211]:
zero_coor = (31.81,-95.65)
figure_layout = {'width': '1050px', 'margin': '0 auto 0 auto'}
# Plot Heatmap
fig = gmaps.figure(center=zero_coor,zoom_level=5.5,layout=figure_layout,map_type="TERRAIN")

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=confirmed,
                                 dissipating=False, max_intensity=.5,
                                 point_radius=.5)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px', margin='0 auto 0 auto', width='1050px'))

In [212]:
#%reset